{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>プロフィール</title>
        <link rel="stylesheet" href="{% static 'css/private.css' %}">
    </head>
    <body>
        <h1><img width="24px" src="https://1.bp.blogspot.com/-SV46nisYM3o/XobTKL4wt_I/AAAAAAABYFY/sRiM-vjUesA09XAOY5W4vqYXCBNbqTrBACNcBGAsYHQ/s1600/game_reversi_white.png" alt="画像" class="sample2"> オンラインオセロ
            <img width="24px" src="https://1.bp.blogspot.com/-G9OZHmfgKFA/XobTJbrXJBI/AAAAAAABYFQ/4ab3VMkq0cIPUlp85C51VRfj3-ZBPeQ-QCNcBGAsYHQ/s1600/game_reversi_black.png" alt="画像" class="sample3">
            </h1>
        {% if user.is_authenticated %}
        <h2>id: {{ user.get_username }} でログイン中</h2>
        {% else %}
        <h2>ログインしていません</h2>
        {% endif %}
        <h3>プロフィール</h3>
        

        <p>ユーザー名: {{ user.userinfo.username }}</p>
        <p>年齢: {{ user.userinfo.age }}歳</p>
        
        <br>

        <form action="{% url 'priv' %}" method="POST">
            {% csrf_token %}

            <input id="username" type="text" value={{ user.userinfo.username }} name="username"><br>
            <input id="number" type="number" value={{ user.userinfo.age }} name="age" >

            
            <button id="submit" type="submit">編集</button>
        </form>

        <br>
        

        <p><a href="{% url 'home' %}">ホームに戻る</a></p>


    </body>
</html>